{
    "singleQuote": true,
    "trailingComma": "es5",
    "printWidth": 120,
    "tabWidth": 2,
    "semi": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "auto",
    "useTabs": false,
    "plugins": ["prettier-plugin-organize-imports"],
    "organizeImportsSkipDestructiveCodeActions": true
  }